name: AI Assistant

on:
  issue_comment:
    types: [created]
  pull_request_review_comment:
    types: [created]
  issues:
    types: [opened, assigned]
  pull_request_review:
    types: [submitted]

jobs:
  call-ai-assistant:
    # Do not run on Forks, they won't have the req'd secrets.
    if: >
      github.event_name == 'issues' ||
      (github.event_name == 'issue_comment' &&
        (!github.event.issue.pull_request ||
         github.event.issue.pull_request.head.repo.full_name == github.repository)) ||
      (github.event_name != 'issue_comment' && github.event_name != 'issues' &&
        (!github.event.pull_request ||
         github.event.pull_request.head.repo.full_name == github.repository))
    permissions:
      contents: write
      pull-requests: write
      issues: write
      id-token: write
    uses: tenstorrent/tt-metal/.github/workflows/ai_tools_impl.yaml@ay/tools_job
    secrets: inherit
